{% extends "tutorial/base.html" %}
{% load cache %}

{% block title %}
    Liste des tutoriels
{% endblock %}

{% block meta %}
    <meta name="description" content="Les tutoriels vous permettent d'apprendre sur divers sujets axés autour de la programmation et de l'informatique." />
{% endblock %}

{% block header %}
    <h1>
        <i class="icon-book icon-large"></i>
        Tutoriels
    </h1>
    <p>
        Les tutoriels vous permettent <strong>d'apprendre</strong> sur divers sujets axés autour de la programmation et de l'informatique.
    </p>
{% endblock %}

{% block headline %}
    Liste des tutoriels
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block headline-actions %}
    <div class="button-group">
        {% include "tutorial/feeds.part.html" %}
        {% if user.is_authenticated %}
            <a href="{% url "pdp.tutorial.views.add_tutorial" %}" class="button">
                <i class="icon-plus"></i>
                Nouveau tutoriel
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <h2>À la une</h2>
        {% cache 120 tutorials-index %}
            {% if tutorials %}
                <div class="tutorial-items">
                    {% for tuto in tutorials %}
                        {% include "tutorial/tutorial_item.part.html" %}
                    {% endfor %}
                </div>
            {% else %}
                <p>Aucun tutoriel disponible.</p>
            {% endif %}
        {% endcache %}
    </div>
</div>

{# Validation stuff #}

{% if perms.tutorial.change_tutorial %}
<div class="row">
    <div class="large-12 columns">
        <h2>En attente de validation</h2>
        {% cache 120 tutorials-pending %}
        {% if pending_tutorials %}
            <div class="tutorial-items">
                {% for tuto in pending_tutorials %}
                    <div class="row article-publication-item">
                        <div class="small-1 columns">
                            {% with date=tuto.pubdate %}
                                {% include "misc/datebox.part.html" %}
                            {% endwith %}
                        </div>
                        <div class="small-8 columns">
                            <a href="{{ tuto.get_absolute_url }}">{{ tuto.title }}</a>
                            <p>{{ tuto.description }}</p>
                        </div>
                        <div class="small-3 columns">
                            <form action="{% url "pdp.tutorial.views.modify_tutorial" %}" method="post">
                                <div class="button-group even-2 expand">
                                    <button type="submit" class="button success" name="validate">
                                        Valider
                                    </button>
                                    <button type="submit" class="button alert" name="refuse">
                                        Refuser
                                    </button>
                                </div>
                                <input type="hidden" name="tutorial" value="{{ tuto.pk }}">
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun tutoriel en attente de validation.</p>
        {% endif %}
        {% endcache %}
    </div>
</div>
{% endif %}

{% endblock %}
