{% extends "tutorial/base.html" %}
{% load emarkdown %}

{% block title %}
{{ tutorial.title }}
{% endblock %}

{% block headline %}
    {% if tutorial.thumbnail %}
        <span>
            <img src="{{tutorial.thumbnail.url }}" class="hide-for-small"/>
        </span>
    {% endif %}
    {{ tutorial.title }}
    {% if tutorial.is_beta %}
        <small><span class="label alert">BETA</span></small>
    {% endif %}<br />
    <small>{{ tutorial.description }}</small>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ tutorial.title }}</a></li>
{% endblock %}

{% block headline-actions %}
    {% if user.is_authenticated and user in tutorial.authors.all %}
        <form action="{% url "pdp.tutorial.views.modify_tutorial" %}" method="post">
            <div class="button-group">
                <a href="
                    {% if tutorial.size == "B" %}
                        {% url "pdp.tutorial.views.add_part" %}?tutoriel={{ tutorial.pk }}
                    {% elif tutorial.size == "M" %}
                        {% url "pdp.tutorial.views.add_chapter" %}?partie={{ part.pk }}
                    {% else %}
                        {% url "pdp.tutorial.views.add_extract" %}?chapitre={{ tutorial.get_chapter.pk }}
                    {% endif %}" class="button small">
                    <i class="icon-plus"></i>
                    Ajouter
                </a>
                <a href="{% url "pdp.tutorial.views.edit_tutorial" %}?tutoriel={{ tutorial.pk }}" class="button small">
                    <i class="icon-pencil"></i>
                    Éditer
                </a>
                <a href="#" class="button secondary small" data-dropdown="delete-drop">
                    Supprimer
                </a>
                <div id="delete-drop" class="f-dropdown content small" data-dropdown-content>
                    <p>
                        Si vous supprimez ce tutoriel, il sera alors impossible de le modifier/consulter de nouveau.
                    </p>
                    <button type="submit" name="delete" class="button expand alert">
                        <i class="icon-remove"></i>
                        Confirmer la suppression
                    </button>
                </div>
            </div>
            <br />
            <button name="pending" class="button secondary expand
                                          {% if tutorial.is_pending %}disabled{% endif %}
                                          {% if tutorial.is_visible %}disabled success{% endif %}"
                {% if tutorial.is_pending or tutorial.is_visible %}disabled{% endif %}>
                {% if not tutorial.is_visible %}
                    {% if not tutorial.is_pending %}
                        Demander la publication
                    {% else %}
                        En attente de validation…
                    {% endif %}
                {% else %}
                   En ligne
                {% endif %}
            </button>
            {% if not tutorial.is_visible %}
                <button name="beta" class="button expand {% if not tutorial.is_beta %}secondary{% endif %}"> 
                    {% if not tutorial.is_beta %}
                        Activer la bêta
                    {% else %}
                        Désactiver la bêta
                    {% endif %}
                </button>
            {% endif %}

            <input type="hidden" name="tutorial" value="{{ tutorial.pk }}" />
            {% csrf_token %}
        </form>
    {% endif %}
    {% with pdf=tutorial.has_pdf %}
        <a href="{% url "pdp.tutorial.views.download" %}?tutoriel={{ tutorial.pk }}&format={% if not pdf %}json{% else %}pdf{% endif %}"
            class="button {% if pdf %}split{% endif %}">
            <i class="icon-download"></i>
            Télécharger ({% if pdf %}PDF{% else %}JSON{% endif %})
            {% if pdf %}
                <span data-dropdown="drop-download"></span>
            {% endif %}
        </a>
        {% if pdf %}
        <ul id="drop-download" class="f-dropdown" data-dropdown-content style="float: none;">
            <li>
                <a href="{% url "pdp.tutorial.views.download" %}?tutoriel={{ tutorial.pk }}&format=json">
                    Télécharger (JSON)
                </a>
            </li>
        </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            {% if not tutorial.size == "S" %}
                Tutoriel
                {% if not tutorial.size == "M" %}
                    étendu
                {% endif %}
            {% else %}
                Mini-tutoriel
            {% endif %}
            rédigé par
            {% for member in tutorial.authors.all %}
                {% if forloop.counter > 1 %}
                    {% if forloop.last %}
                        et
                    {% else %}
                        ,
                    {% endif %}
                {% endif %}
                {% include "member/member_item_common.part.html" %}
            {% endfor %}.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">

        {% if tutorial.introduction %}
            {{ tutorial.introduction|emarkdown }}
        {% else %}
            <p>Aucune introduction.</p>
        {% endif %}

        {% if tutorial.size == "S" %}
        {# Small tutorial #}

            {% with authors=tutorial.authors.all %}
                {% include "tutorial/view_chapter_common.part.html" %}
            {% endwith %}

        {% elif tutorial.size == "M" %}
        {# Medium tutorial #}

            {% include "tutorial/view_part_common.part.html" %}

        {% else %}
        {# Large tutorial #}

            <hr />
            {% if parts %}
                {% for part in parts %}
                    <h2>
                        <a href="{% url "view-part-url" tutorial.pk tutorial.slug part.slug %}">
                            Partie {{ part.position_in_tutorial }} : {{ part.title }}
                        </a>
                    </h2>
                    {% include "tutorial/view_part_common.part.html" %}
                {% endfor %}
            {% else %}
                <p>
                    Il n'y a actuellement aucune partie dans ce tutoriel.
                </p>
            {% endif %}
            <hr />

        {% endif %}

        {% if tutorial.conclusion %}
            {{ tutorial.conclusion|emarkdown }}
        {% else %}
            <p>Aucune conclusion.</p>
        {% endif %}
    </div>
</div>

{% if not tutorial.is_visible %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <p>
                {% if not tutorial.is_beta %}
                    Ce tutoriel n’a pas encore été mis en ligne.
                {% else %}
                    Ce tutoriel n’a pas encore été mis en ligne mais est
                    visible pour les membres possédant le lien vers celui-ci
                    (période de bêta activée).
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
